
<h1>Now your score!</h1>

<p>your grid: <%= @grid.join(", ") %></p>


<p>Your word: <%= @attempt %></p>
<p>Time taken to answer: <%= (@time_taken) %> miliseconds</p>
<p>Translation: <%= @translation %></p>
<p>Your score: <%= @score %></p>
<p>Message: <%= @result[:message] %></p>
